/* For color names, see https://www.w3schools.com/colors/colors_groups.asp */

h1 {
  color:White;    
  text-align:center;
}
h2 {
  color:White;
  text-align:left;
}
p, li {
  color:Navy;
  text-align:left;
}
#p-center {
  text-align:center;
}
button {
  background-color:FireBrick;
  font-weight:bold;
  color:LemonChiffon;
  text-align:center;
  padding: 8px 16px;
  font-size: 16px;
}
#back-button {
  background-color:FireBrick;
  font-weight:bold;
  color:LemonChiffon;
  text-align:center;
  padding: 15px 32px;
  font-size: 16px;
}
div.back {
  position: fixed;
  bottom: 40px;
  width: 100%;
  text-align:center;  
}
div.logo {
  position: fixed;
  top: 10px;
  width: 100%;
  text-align:right;
}
div.logo-left {
  position: fixed;
  top: 10px;
  width: 100%;
  text-align:left;
}
#div-center {
  text-align:center;
}
