h1 {
  color:#f7948e;    /* Color code from https://www.color-hex.com/ */
  text-align:center;
}
h2 {
  color:black;
  text-align:center;
}
p {
  color:yellow;
  text-align:left;
}
button {
  background-color:white;
  font-weight:bold;
  color:black;
  text-align:left;
}
div.logo {
  position: fixed;
  top: 10px;
  width: 100%;
  text-align:right;
}
div.logo-left {
  position: fixed;
  top: 10px;
  width: 100%;
  text-align:left;
}
