/* For color names, see https://www.w3schools.com/colors/colors_groups.asp */

h1 {
  color:White;    
  text-align:center;
}
h2 {
  color:DarkBlue;
  text-align:center;
}
p {
  color:SteelBlue;
  text-align:left;
}
button {
  background-color:Salmon;
  font-weight:bold;
  color:Gold;
  text-align:left;
}
#back-button {
  background-color:Red;
  font-weight:bold;
  color:yellow;
  text-align:left;
}
div.back {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align:center;  
}
div.logo {
  position: fixed;
  top: 10px;
  width: 100%;
  text-align:right;
}
div.logo-left {
  position: fixed;
  top: 10px;
  width: 100%;
  text-align:left;
}
